<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="">Cars Application</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a routerLink="dashboard">Dashboard</a></li>
              <li routerLinkActive="active"><a routerLink="cars">Cars</a></li>
          </ul>
        </div>

    </div>
</nav>